In [1]:
import polars as pl

In [2]:
df = pl.read_csv("1. cars.csv")

In [3]:
df.head()

shape: (5, 9)
┌──────┬───────────┬──────────────┬────────────┬───┬──────────────┬───────┬────────┬───────────────┐
│ mpg  ┆ cylinders ┆ displacement ┆ horsepower ┆ … ┆ acceleration ┆ model ┆ origin ┆ car_name      │
│ ---  ┆ ---       ┆ ---          ┆ ---        ┆   ┆ ---          ┆ ---   ┆ ---    ┆ ---           │
│ f64  ┆ i64       ┆ f64          ┆ f64        ┆   ┆ f64          ┆ i64   ┆ i64    ┆ str           │
╞══════╪═══════════╪══════════════╪════════════╪═══╪══════════════╪═══════╪════════╪═══════════════╡
│ 18.0 ┆ 8         ┆ 307.0        ┆ 130.0      ┆ … ┆ 12.0         ┆ 70    ┆ 1      ┆ chevrolet     │
│      ┆           ┆              ┆            ┆   ┆              ┆       ┆        ┆ chevelle      │
│      ┆           ┆              ┆            ┆   ┆              ┆       ┆        ┆ malibu        │
│ 15.0 ┆ 6         ┆ 350.0        ┆ 165.0      ┆ … ┆ 11.5         ┆ 70    ┆ 1      ┆ buick skylark │
│      ┆           ┆              ┆            ┆   ┆              ┆       ┆        ┆ 320           │
│ 18.0 ┆ 6         ┆ 318.0        ┆ 150.0      ┆ … ┆ 11.0         ┆ 70    ┆ 1      ┆ plymouth      │
│      ┆           ┆              ┆            ┆   ┆              ┆       ┆        ┆ satellite     │
│ 16.0 ┆ 4         ┆ 304.0        ┆ 150.0      ┆ … ┆ 12.0         ┆ 70    ┆ 1      ┆ amc rebel sst │
│ 17.0 ┆ 4         ┆ 302.0        ┆ 140.0      ┆ … ┆ 10.5         ┆ 70    ┆ 1      ┆ ford torino   │
└──────┴───────────┴──────────────┴────────────┴───┴──────────────┴───────┴────────┴───────────────┘

In [4]:
df.describe()

shape: (9, 10)
┌────────────┬─────────┬───────────┬──────────────┬───┬─────────────┬───────┬────────┬─────────────┐
│ statistic  ┆ mpg     ┆ cylinders ┆ displacement ┆ … ┆ acceleratio ┆ model ┆ origin ┆ car_name    │
│ ---        ┆ ---     ┆ ---       ┆ ---          ┆   ┆ n           ┆ ---   ┆ ---    ┆ ---         │
│ str        ┆ f64     ┆ f64       ┆ f64          ┆   ┆ ---         ┆ f64   ┆ f64    ┆ str         │
│            ┆         ┆           ┆              ┆   ┆ f64         ┆       ┆        ┆             │
╞════════════╪═════════╪═══════════╪══════════════╪═══╪═════════════╪═══════╪════════╪═════════════╡
│ count      ┆ 15.0    ┆ 15.0      ┆ 15.0         ┆ … ┆ 15.0        ┆ 15.0  ┆ 15.0   ┆ 15          │
│ null_count ┆ 0.0     ┆ 0.0       ┆ 0.0          ┆ … ┆ 0.0         ┆ 0.0   ┆ 0.0    ┆ 0           │
│ mean       ┆ 14.6    ┆ 6.266667  ┆ 385.4        ┆ … ┆ 10.033333   ┆ 70.0  ┆ 1.0    ┆ null        │
│ std        ┆ 2.32379 ┆ 1.667619  ┆ 60.832087    ┆ … ┆ 1.23153     ┆ 0.0   ┆ 0.0    ┆ null        │
│ min        ┆ 10.0    ┆ 4.0       ┆ 302.0        ┆ … ┆ 8.0         ┆ 70.0  ┆ 1.0    ┆ amc         │
│            ┆         ┆           ┆              ┆   ┆             ┆       ┆        ┆ ambassador  │
│            ┆         ┆           ┆              ┆   ┆             ┆       ┆        ┆ dpl         │
│ 25%        ┆ 14.0    ┆ 6.0       ┆ 340.0        ┆ … ┆ 9.5         ┆ 70.0  ┆ 1.0    ┆ null        │
│ 50%        ┆ 15.0    ┆ 6.0       ┆ 390.0        ┆ … ┆ 10.0        ┆ 70.0  ┆ 1.0    ┆ null        │
│ 75%        ┆ 16.0    ┆ 8.0       ┆ 454.0        ┆ … ┆ 11.0        ┆ 70.0  ┆ 1.0    ┆ null        │
│ max        ┆ 18.0    ┆ 8.0       ┆ 455.0        ┆ … ┆ 12.0        ┆ 70.0  ┆ 1.0    ┆ pontiac     │
│            ┆         ┆           ┆              ┆   ┆             ┆       ┆        ┆ catalina    │
└────────────┴─────────┴───────────┴──────────────┴───┴─────────────┴───────┴────────┴─────────────┘

In [6]:
cly_d_df = df.filter(pl.col("cylinders") == 4)
cly_d_df

shape: (4, 9)
┌──────┬───────────┬──────────────┬────────────┬───┬──────────────┬───────┬────────┬───────────────┐
│ mpg  ┆ cylinders ┆ displacement ┆ horsepower ┆ … ┆ acceleration ┆ model ┆ origin ┆ car_name      │
│ ---  ┆ ---       ┆ ---          ┆ ---        ┆   ┆ ---          ┆ ---   ┆ ---    ┆ ---           │
│ f64  ┆ i64       ┆ f64          ┆ f64        ┆   ┆ f64          ┆ i64   ┆ i64    ┆ str           │
╞══════╪═══════════╪══════════════╪════════════╪═══╪══════════════╪═══════╪════════╪═══════════════╡
│ 16.0 ┆ 4         ┆ 304.0        ┆ 150.0      ┆ … ┆ 12.0         ┆ 70    ┆ 1      ┆ amc rebel sst │
│ 17.0 ┆ 4         ┆ 302.0        ┆ 140.0      ┆ … ┆ 10.5         ┆ 70    ┆ 1      ┆ ford torino   │
│ 14.0 ┆ 4         ┆ 454.0        ┆ 220.0      ┆ … ┆ 9.0          ┆ 70    ┆ 1      ┆ chevrolet     │
│      ┆           ┆              ┆            ┆   ┆              ┆       ┆        ┆ impala        │
│ 14.0 ┆ 4         ┆ 440.0        ┆ 215.0      ┆ … ┆ 8.5          ┆ 70    ┆ 1      ┆ plymouth fury │
│      ┆           ┆              ┆            ┆   ┆              ┆       ┆        ┆ iii           │
└──────┴───────────┴──────────────┴────────────┴───┴──────────────┴───────┴────────┴───────────────┘

In [7]:
df.shape

(15, 9)

In [8]:
cly_d_df.shape

(4, 9)

In [12]:
mean_horspower = df.group_by("cylinders").agg(pl.col("horsepower").max())
mean_horspower

shape: (3, 2)
┌───────────┬────────────┐
│ cylinders ┆ horsepower │
│ ---       ┆ ---        │
│ i64       ┆ f64        │
╞═══════════╪════════════╡
│ 8         ┆ 225.0      │
│ 6         ┆ 198.0      │
│ 4         ┆ 220.0      │
└───────────┴────────────┘

#### Create a program that prints out descriptive statistics using the Polars data analysis library.

In [14]:
df = pl.read_csv("2. iris.csv")

In [15]:
df.head()

shape: (5, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬─────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---     │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str     │
╞══════════════╪═════════════╪══════════════╪═════════════╪═════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ setosa  │
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ setosa  │
│ 5.0          ┆ 3.6         ┆ 1.4          ┆ 0.2         ┆ setosa  │
└──────────────┴─────────────┴──────────────┴─────────────┴─────────┘

In [16]:
df.describe()

shape: (9, 6)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┬───────────┐
│ statistic  ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species   │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╪═══════════╡
│ count      ┆ 150.0        ┆ 150.0       ┆ 150.0        ┆ 150.0       ┆ 150       │
│ null_count ┆ 0.0          ┆ 0.0         ┆ 0.0          ┆ 0.0         ┆ 0         │
│ mean       ┆ 5.843333     ┆ 3.057333    ┆ 3.758        ┆ 1.199333    ┆ null      │
│ std        ┆ 0.828066     ┆ 0.435866    ┆ 1.765298     ┆ 0.762238    ┆ null      │
│ min        ┆ 4.3          ┆ 2.0         ┆ 1.0          ┆ 0.1         ┆ setosa    │
│ 25%        ┆ 5.1          ┆ 2.8         ┆ 1.6          ┆ 0.3         ┆ null      │
│ 50%        ┆ 5.8          ┆ 3.0         ┆ 4.4          ┆ 1.3         ┆ null      │
│ 75%        ┆ 6.4          ┆ 3.3         ┆ 5.1          ┆ 1.8         ┆ null      │
│ max        ┆ 7.9          ┆ 4.4         ┆ 6.9          ┆ 2.5         ┆ virginica │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┴───────────┘

In [17]:
setosa_species = df.filter(pl.col("species") == "setosa")
setosa_species

shape: (50, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬─────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---     │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str     │
╞══════════════╪═════════════╪══════════════╪═════════════╪═════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ setosa  │
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ setosa  │
│ 5.0          ┆ 3.6         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ …            ┆ …           ┆ …            ┆ …           ┆ …       │
│ 4.8          ┆ 3.0         ┆ 1.4          ┆ 0.3         ┆ setosa  │
│ 5.1          ┆ 3.8         ┆ 1.6          ┆ 0.2         ┆ setosa  │
│ 4.6          ┆ 3.2         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 5.3          ┆ 3.7         ┆ 1.5          ┆ 0.2         ┆ setosa  │
│ 5.0          ┆ 3.3         ┆ 1.4          ┆ 0.2         ┆ setosa  │
└──────────────┴─────────────┴──────────────┴─────────────┴─────────┘

In [18]:
aggregated_df = df.group_by("species").agg(pl.col("sepal_length").mean())
aggregated_df

shape: (3, 2)
┌────────────┬──────────────┐
│ species    ┆ sepal_length │
│ ---        ┆ ---          │
│ str        ┆ f64          │
╞════════════╪══════════════╡
│ virginica  ┆ 6.588        │
│ setosa     ┆ 5.006        │
│ versicolor ┆ 5.936        │
└────────────┴──────────────┘